<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <section id='container'>
    <div ref='ceshi'></div>
    <ary-input v-model="ary" ref='xxx'>123321</ary-input>
    <cha-cao>
      <template v-slot="chacao">
        <ul>
          <li v-for="item in chacao.obj">{{item}}</li>
        </ul>
      </template>
    </cha-cao>
    <ce-shi></ce-shi>
  </section>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
  Vue.component('ary-input', {
    beforeCreate(){
      debugger
    },
    template: `<div>
    <template v-for="(item,idx) of lists">
      <input type="text" :value="item" @input="lists.splice(idx,1,$event.target.value)"><button @click="deletes(idx)">删除</button>
    </template>
    <input type="text" v-model="temp"><button @click="add()">增加</button>
    <slot></slot>
    <slot></slot>
  </div>`,
    model: {
      prop: 'ary',
      event: 'change'
    },
    props: {
      ary: {
        type: Array,
        required: true,
      }
    },
    data() {
      return {
        lists: this.ary.slice(),
        temp: '',
      }
    },
    methods: {
      deletes(idx) {
        this.lists.splice(idx, 1)
      },
      add() {
        this.lists.push(val)
        this.temp = ''
      }
    },
    watch: {
      lists: function () {
        this.$emit('change', this.lists)
      }
    }
  })

  Vue.component('cha-cao', {
    template: `
    <div>
      <slot :obj="obj"></slot>
      </div>
    `,
    data() {
      return {
        obj: {
          x: 1,
          y: 2,
          z: {
            a: 1,
            b: 2,
          }
        }
      }
    }
  })
  Vue.component('json-viewer', {
    props: ['value'],//趁机复习一下基本的数据类型。。。
    template: `
    <span v-if="typeof value =='number'">{{value}}</span>
    <span v-else-if="typeof value =='string'">{{value}}</span>
    <span v-else-if="typeof value =='boolean'">{{value}}</span>
    <span v-else-if="typeof value =='undefined'">{{value}}</span>
    <span v-else-if="typeof value =='bigint'">{{value}}</span>
    <span v-else-if="value ===null">{{value}}</span>
    <template v-else-if="typeof value =='object'">
      <json-viewer for="key in value" :value="key"></json-viewer>
      </template>
    `,
  })

  var app = new Vue({
    el: '#container',
    data: {
      ary: ['123', '12332', '34123'],
    },
    aaa: '123'
  })
</script>

</html>