*{
  box-sizing: border-box;
}
.mypicture{
  margin: 50px;
  display:flex;
  padding: 40px 60px;
  flex-flow:column;
  background-color: rgb(225,234,243);
  width: 300px;
  min-width: 300px;
  height: 250px;
  border-radius:20px;
}
.mypicturein{
  background-color: rgb(173,190,206);
  height: 30px;
  width: 100%;
  border-radius:10px;
}
.sinpicturein{
  background-color: rgb(36,109,240) !important;
}
.sinpicturein::before{
  content: '';
  display:block;
  width: 16px;
  height: 16px;
  background-color: rgb(254,249,255);
  border-radius:10px;
  transform:translate(100%,100%);
}
.multipicturein{
  background-color: rgb(36,109,240) !important;
}
.multipicturein::before{
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-color: rgb(254,249,255);
  border-radius:10px;
  transform:translate(100%,100%);
}