extends temp.pug 
block content
  form(action="/post-theme" method='POST') 
    div(class='mb-3')
      label(for="exampleFormControlInput1" class="form-label") Title
      input(type="text" class="form-control" id="exampleFormControlInput1" name='title')
    div(class='mb-3')
      label(for="exampleFormControlTextarea1" class="form-label") Content
      textarea(class="form-control" id="exampleFormControlTextarea1" rows="3" name='content')
    button(type='submit') 提交
    button(type='reset') 重置
