extends temp.pug 
block content 
  form(action='/register' method='POST' enctype='multipart/form-data')
    div(class="form-floating mb-3")
      input(type="text" class="form-control" id="floatingInput0" placeholder="UserName" name='username')
      label(for="floatingInput0") UserName
    div(class="form-floating mb-3")
      input(type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name='E-mail')
      label(for="floatingInput") Email address
    div(class="form-floating")
      input(type="password" class="form-control" id="floatingPassword" placeholder="Password" name='password')
      label(for="floatingPassword") Password
    br
    input(type='file' name='avatar' accept='image/*' class='form-control')
    br
    button(type='submit') 注册
    button(type='reset') 重置